body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pictures .colPic {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  gap: 1%;
  width: 1%;
  height: 56.1vh;
  scrollbar-width: none;
  overflow-y: scroll;
  overscroll-behavior: none;
}
body > .content {
  box-sizing: inherit;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  padding: 0 16vw;
  gap: 10vh;
  width: 100%;
  margin: auto;
}
.pictures .viewSec {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-content: flex-start;
  -webkit-box-pack: end;
  justify-content: flex-end;
  top: 40px;
  height: 20%;
  width: 45%;
  grid-column: 2/8;
  grid-row: 1/3;
}
.viewSec > .bigPic {
  box-sizing: inherit;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  width: 50%;
  height: 83%;
}
.bigPic > img.pic {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  aspect-ratio: 1 / 1.25;
  z-index: -1;
}
.bigPic > .arrows {
  box-sizing: inherit;
  bottom: 5%;
  right: 5%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  position: absolute;
  flex-direction: row;
  gap: 20px;
  z-index: 2;
}
.arrows > button.arrow {
  box-sizing: border-box;
  border-radius: 50%;
  font-size: inherit;
  border: none;
  cursor: pointer;
  line-height: inherit;
  overflow: visible;
  display: inline-flex;
  margin: 0;
  padding: 0;
  text-transform: none;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 36px;
  width: 36px;
}
ul.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 5vh;
}
ul.navbar > li.page {
  list-style-type: none;
  font: inherit;
  box-sizing: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  color: var(--podium-cds-color-text-primary);
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  font-size: 18px;
}
ul.navbar > li.page > a.page {
  color: inherit;
  text-decoration: none;
}
.explanation {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  grid-column: span 12;
  flex-direction: column;
  display: flex;
  gap: var(--podium-cds-size-spacing-xxl);
  margin-top: var(--podium-cds-size-spacing-xxl);
  margin-bottom: var(--podium-cds-size-spacing-xxl);
}
.tech {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  grid-column: 1 / undefined;
  gap: 24px;
  flex-direction: column;
  display: flex;
}
.title {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  grid-column: 1 / undefined;
}

.title_text {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  text-align: left;
  padding-bottom: 12px;
  max-width: 75%;
}
.tech > .engineer {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  background: rgb(245, 245, 245);
  border-radius: 8px;
  -webkit-box-align: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--podium-cds-color-border-tertiary);
  flex-direction: row;
  align-items: flex-start;
  max-height: 400px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.engineer_i {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.icon_con {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  width: 72px;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 16px;
}

.engineer_i_des {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.engineer_i_des_sub {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  padding-bottom: 2px;
}
.engineer_i_des_main {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}
.engineer_i_des_sub_text {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  color: var(--podium-cds-color-text-primary);
}
.engineer_i_des_main_text {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
}
.tech_specs {
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  background: rgb(245, 245, 245);
  border-radius: 8px;
  border-bottom: 1px solid var(--podium-cds-color-border-tertiary);
  min-height: 64px;
  padding: 32px 36px;
}
.tech_specs_heading {
  box-sizing: inherit;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 0;
  vertical-align: baseline;
  color: var(--podium-cds-color-text-primary);
  box-shadow: none;
}
.tech_specs_content {
  vertical-align: baseline;
  display: grid;
  padding-bottom: 0px;
  animation: open var(--animation-duration);
  overflow: hidden;
  padding-top: 32px;
}
.tech_specs .tech_specs_row {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  border-top: 1px solid var(--podium-cds-color-border-tertiary);
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: row;
}
.tech_specs_row_title {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  display: flex;
  width: 33%;
}
.tech_specs_row_value {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  width: 66%;
}
.features_that_perform {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  grid-column: 1 / undefined;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.features_that_perform_in {
  font: inherit;
  box-sizing: inherit;
  position: relative;
  color: transparent;
}
.features_title {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  color: black;
}
.features_title_text {
  white-space: nowrap;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
}
ul.slider {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  list-style-type: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  color: inherit;
  transition: ease-in-out;
  scroll-padding: 0px;
  gap: 5vw;
}
ul.slider > li.slider_item {
  width: 15vw;
  list-style: none;
  list-style-type: none;
  box-sizing: inherit;
  vertical-align: baseline;
  scroll-snap-align: start;
  flex-flow: column;
  min-width: auto;
  --column-offset: 20px;
  padding-top: 14px;
}
.img {
  list-style: none;
  list-style-type: none;
  --column-offset: 20px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  height: 45vh;
}
.item_des {
  list-style: none;
  list-style-type: none;
  --column-offset: 20px;
  box-sizing: inherit;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  padding: 24px 36px 20px 0px;
}
.item_title {
  list-style: none;
  list-style-type: none;
  --column-offset: 20px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 25px;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  padding-bottom: 12px;
  color: black;
}
.item_des {
  list-style: none;
  list-style-type: none;
  font-weight: 500;
  font-family: "Helvetica Now Display Medium", Helvetica, Arial, sans-serif;
  font-size: 17px;
  --column-offset: 20px;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #707072;
}
div.pictures {
  display: flex;
}
.color_pick {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-top: 32px;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  overflow-x: initial;
  column-gap: 0.5vw;
  margin-left: 1vw;
  width: 100%;
}
.color_pick_link {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}
a.color_pick_link > img {
  width: 100px;
  height: auto;
  border-radius: 6px;
  display: block;
}
